* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}




@media (min-width: 1000px) {
    #container {
        width: 65%;
        background-color: lightblue;
        padding: 20px;
        height: fit-content;
    }

    #mainBody {
        display: flex;
        justify-content: center;
        /* align-items: start; */
    }
  }